@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --template-font: 'Varela Round', sans-serif;

    --palette-black: #000000;
    --palette-white: #FFFFFF;
    --palette-dark: #262626;
    --palette-light: #A5A5A5;
}

body {
    font-family: var(--template-font);
    color: var(--palette-white);
    background-color: var(--palette-dark);
}